<div *ngIf="isLoading">Spinner</div>

<div>New Post:</div>

<form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
  <div>Post Title</div>
  <input id="title" formControlName="title" placeholder="Post Title" />
  <div *ngIf="form.get('title').invalid">Please enter a post title.</div>

  <div>
    <button type="button" (click)="filePicker.click()">🌅 Pick Image</button>
    <input
      class="HIDE ME"
      type="file"
      #filePicker
      (change)="onImagePicked($event)"
    />
  </div>

  <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
    <img [src]="imagePreview" alt="form.value.title" />
  </div>

  <div *ngIf="form.get('image').invalid">
    Please choose a correct file type JPG, JPEG, or PNG.
  </div>

  <div>
    <div>Post Content</div>
    <textarea
      rows="6"
      formControlName="content"
      placeholder="Post Content"
    ></textarea>
    <div *ngIf="form.get('content').invalid">Please enter some content.</div>
  </div>
  <div>
    <button color="primary" type="submit">Save Post</button>
  </div>
</form>
