mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
  display: block;
}

input[type="file"] {
  display: none;
  visibility: hidden;
}

.image-picker {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
