<div *ngIf="isLoading" class="flex items-center justify-center min-h-screen">
  <div
    class="spinner border-t-4 border-blue-500 border-solid h-12 w-12 rounded-full animate-spin"
  ></div>
</div>

<div multi="true" *ngIf="posts.length > 0 && !isLoading">
  <div
    *ngFor="let post of posts"
    class="flex flex-wrap justify-center items-center"
  >
    <div
      class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 m-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <img class="rounded-t-lg w-full" [src]="post.imagePath" alt="" />
      <div class="p-5">
        <div
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ post.title }}
        </div>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ post.content }}
        </p>
        <div class="flex justify-between">
          <button
            (click)="onDelete(post.id)"
            class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900"
          >
            Delete ❌
          </button>
          <a
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [routerLink]="['/edit', post.id]"
          >
            Edit ✏️
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<p
  class="flex items-center justify-center min-h-screen text-gray-700 text-2xl font-bold mb-2"
  *ngIf="posts.length <= 0 && !isLoading"
>
  No posts added yet!
</p>

<app-footer
  [totalPosts]="totalPosts"
  [postsPerPage]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
></app-footer>
